/* FONTS */
@font-face {
  font-family: Lato-Medium;
  src: url('/assets/fonts/lato/Lato-Medium.ttf');
}

@font-face {
  font-family: BebasNeue-Book;
  src: url('/assets/fonts/bebas/BebasNeue Book.ttf');
}

$bg-color: #f7f7f7;
$border-color: rgba(0, 0, 0, 0.3);
$light-text-color: rgba(0, 0, 0, 0.5);
$text-color: rgba(0, 0, 0, 0.6);

body {
  font-family: Lato-Medium;
  background-color: $bg-color;
  color: $text-color;
}

.outer-container {
  height: 100% !important;
  overflow: hidden;
  margin-bottom: 50px;
}

.sidebar-container {

  @media screen and (max-width: 770px) {
    display: none;
  }
}

.my-view {
  margin-bottom: -9999px;
  padding-left: 30px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 9999px;
  background-color: white !important;}

/*HEADINGS*/
.heading {
  font-family: BebasNeue-Book;
  letter-spacing: 3.5px;
  margin-top: 0 !important;
  margin-left: 14px;
}

//for file titles
.title {
  margin-top: 0 !important;
  font-family: BebasNeue-Book;
  letter-spacing: 4px !important;
  text-transform: uppercase !important;
}

/*UTILITY CLASSES*/
.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

/*PAGINATION*/
.pagination {

  .disabled {
    a {
      cursor: default !important;
    }
  }

  .active {
    a {
      color: black;
    }
    a:hover {
      background-color: white;
      color: black;
    }
  }

  li {
    a {
      border: none;
      color: $text-color;
      background-color: white !important;
    }
    a:hover {
      background-color: white;
      color: black;
    }
  }
}

/*BUTTONS*/
.default-btn {
  border: 1px solid $border-color !important;
  border-radius: 0px;

  background-color: transparent;
  color: $light-text-color !important;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  text-align: center;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

/*FORMS*/

.material-input {
  border: none;
  background: white !important;
}

.material-input:focus, .material-input:valid {
  box-shadow: none;
  outline: none;
}

.form-control {
  border: none !important;
  outline: 0 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

textarea {
  resize: vertical;
}