<div class="addfile">
    <form name="fileForm" class="form-inline" novalidate>

        <!--File title-->
        <h1 class="title">
            <input class="material-input" type="text" name="title" placeholder="Enter file name"
                   ng-model="fileInfo.title" maxlength="50" required>
        </h1>

        <!--File description-->
        <textarea class="form-control material-input" name="description" rows="10" id="description"
                  placeholder="Write your file description here..."
                  ng-model="fileInfo.description" maxlength="4000"
                  required></textarea>

        <!--Select category-->
        <div id="select-dropdown">
            <select-dropdown title="{{'Select category'}}" items="addfile.fileCategories"
                             selected-item="addfile.fileInfo.type"></select-dropdown>
            <span>{{addfile.fileInfo.type}}</span>
        </div>

        <!--Upload file-->
        <!--<div id="fileUpload" ng-controller="FileUploadController as upload">-->
        <!--<button class="btn btn-file default-btn">-->
        <!--<i class="fa fa-upload"></i> Upload file-->
        <!--<input type="file" ng-file-select="upload.onFileSelect($files)">-->
        <!--</button>-->
        <!--<span class="filename">{{filesToUpload[0].name}}</span>-->
        <!--</div>-->

        <div id="fileUpload">
            <button class="btn btn-file default-btn">
                <i class="fa fa-upload"></i> Upload file
                <input type="file" file-model="addfile.file">
            </button>
            <span class="filename">{{filesToUpload[0].name}}</span>
        </div>

        <!--Load file to the lib-->
        <div id="loadFile">
            <button class="btn default-btn" id="loadBtn" ng-click="addfile.uploadFile()">
                LOAD FILE
            </button>
        </div>
    </form>
</div>