@font-face {
  font-family: BebasNeue-Book;
  src: url('/assets/fonts/bebas/BebasNeue Book.ttf');
}

$border-color: rgba(0, 0, 0, 0.1);
$text-color: rgba(0, 0, 0, 0.7);

.addfile {
  padding-left: 30px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;

  background-color: white;

  #title {
    width: 90%;
  }

  #author, #publicationYear, #publicationPlace {
    margin-top: 20px;
    border: 1px solid $border-color !important;
    border-radius: 0;
  }

  #description, #shortDescription {
    width: 90% !important;
    margin-top: 20px;
    padding-top: 10px;

    border: 1px solid $border-color !important;
    border-radius: 0;
  }

  #select-category, #select-subcategory {
    margin-top: 20px;
  }

  #fileUpload {
    margin-top: 20px;
  }

  #tags {
    margin-top: 10px;
  }

  .filename {
    margin-left: 10px;
  }

  #loadFile {
    text-align: center;

    .default-btn {
      margin-top: 20px;

      font-family: BebasNeue-Book;
      font-size: 23px;
      letter-spacing: 4px;
      text-transform: uppercase;
      color: $text-color !important;
    }
  }

}