.browse {
  position: relative;
  height: 100%;
  padding-left: 30px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 100px;

  background-color: white;

  .file-container {
    min-height: 500px;
  }

  .pagination-container {
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    text-align: center;
  }
}

.loading-content.content-loading {
  * {
    display: none;
  }
}