<div class="browse">
    <h1 class="heading">BROWSE</h1>

    <div class="file-container">
        <div class="row no-margin">
            <div class="col-xs-12 col-md-6" ng-repeat="file in browse.fileList track by $index">
                <file-card file="file"></file-card>
            </div>
        </div>
    </div>

    <div class="pagination-container">
        <uib-pagination total-items="browse.totalItems" items-per-page="vm.pageSize" ng-model="browse.currentPage"
                        ng-change="browse.pageChanged()" max-size="browse.maxSize" class="pagination-sm" boundary-links="true"
                        previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                        last-text="&raquo;"></uib-pagination>
    </div>
</div>
