@font-face {
  font-family: BebasNeue-Book;
  src: url('/assets/fonts/bebas/BebasNeue Book.ttf');
}

@font-face {
  font-family: Lato-Medium;
  src: url('/assets/fonts/lato/Lato-Medium.ttf');
}

$button-color: rgba(0, 0, 0, 0.7);
$text-color: rgba(0, 0, 0, 0.5);

.navbar, .navbar-brand {
  color: black;
  font-family: BebasNeue-Book;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 2.5px;
  line-height: 32px;
}

.navbar {
  border: none;
  margin-top: 10px;
  margin-bottom: 20px;

  .navbar-nav {

    .open {
      a:hover, a:focus {
        background-color: #f7f7f7;
      }
    }

    li {
      a {
        color: black;
        padding-top: 20px;
        padding-bottom: 20px;
      }
    }
  }

  .navbar-brand {
    color: black;
    margin-right: 30px;

    @media screen and(max-width: 768px) {
      margin-left: -14px;
    }
  }

  .navbar-brand:focus, .navbar-brand:hover {
    color: black;
  }

  .navbar-right {
    a {
      font-size: 20px;
      font-weight: 200;
      padding-top: 17px;
      padding-bottom: 10px;

      .fa {
        color: $button-color;
      }
    }
    a.default-btn {
      margin-top: 7px;
      margin-bottom: 5px;
      padding: 10px;

      font-size: 20px;
      color: $button-color;
    }
  }

  .navbar-toggle {
    margin-top: 3px;
    margin-right: 0;
    border: none;
    font-size: 25px;
    color: $button-color;
  }

  .navbar-toggle:hover {
    background-color: transparent;
  }

  .dropdown {
    .dropdown-menu {
      border-radius: 5px;
      li {
        a {
          padding-top: 5px;
          padding-bottom: 5px;

          font-size: 16px;
          font-family: Lato-Medium;
          letter-spacing: normal;

          color: $text-color;
        }
        a:hover {
          background-color: white;
        }
      }
      li:first-child {
        a {
          color: $button-color;
        }
      }
    }
  }

  .small-screen {
    * {
      @media screen and (min-width: 768px) {
        display: none;
      }
    }

    .navbar-right {
      li {
        a {
          padding-left: 5px;
          padding-top: 13px;
          padding-bottom: 13px;
        }
      }
    }
  }

  .medium-screen {
    * {
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
  }
}