@font-face {
  font-family: BebasNeue-Book;
  src: url('/assets/fonts/bebas/BebasNeue Book.ttf');
}

$button-color: rgba(0, 0, 0, 0.7);
$icon-color: rgba(0, 0, 0, 0.7);

.navbar, .navbar-brand {
  color: black;
  font-family: BebasNeue-Book;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 2.5px;
  line-height: 32px;
}

.navbar {
  border: none;
  margin-top: 10px;
  margin-bottom: 20px;

  .navbar-nav {
    li {
      a {
        color: black;
        padding-top: 20px;
        padding-bottom: 20px;
      }
    }
  }

  .navbar-brand {
    color: black;
    margin-right: 30px;
  }

  .navbar-brand:focus, .navbar-brand:hover {
    color: black;
  }

  .navbar-right {
    a {
      font-size: 20px;
      font-weight: 200;
      padding-top: 17px;
      padding-bottom: 10px;

      .fa {
        color: $icon-color;
      }
    }
    a.default-btn {
      margin-top: 7px;
      margin-bottom: 5px;
      padding: 10px;

      font-size: 20px;
      color: $button-color;
    }
  }
}