@font-face {
  font-family: BebasNeue-Book;
  src: url('/assets/fonts/bebas/BebasNeue Book.ttf');
}

.navbar, .navbar-brand {
  color: black !important;
  font-family: BebasNeue-Book;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 2.5px;
  line-height: 32px;
}

.navbar {
  border: none;
  margin-top: 10px;
  margin-bottom: 20px;

  li {
    a {
      color: black !important;
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }

  .navbar-brand {
    margin-right: 30px !important;
  }

  .navbar-right {
    a {
      font-size: 23px !important;
      font-weight: 200;
      padding-top: 20px !important;
    }
  }
}