$text-color: rgba(0, 0, 0, 0.7);

.lib-pagination {

  ul.pagination {
    li {
      a {
        border: none;
        color: $text-color;
        background-color: white !important;
      }
      a:hover {
        background-color: white;
        color: black;
      }
    }
  }
}