$icon-color: rgba(0, 0, 0, 0.6);
$text-color: rgba(0, 0, 0, 0.7);

.signup-card {
  position: fixed;
  left: 50%;
  margin-top: 100px;
  margin-left: -150px;

  form {
    text-align: center;

    .fa {
      margin-right: 10px;
      color: $icon-color;
    }
  }

  input {
    margin-top: 15px;
  }

  #signupBtn {
    margin-bottom: 15px;
    margin-left: 20px;

    .default-btn {
      margin-top: 20px;

      font-family: BebasNeue-Book;
      font-size: 23px;
      letter-spacing: 4px;
      text-transform: uppercase;
      color: $text-color;
    }
  }
}

.signup-card {
  width: 300px;

  padding-top: 30px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;

  background-color: white;

  @media screen and (max-width: 768px) {
    .fa {
      display: none;
    }
  }

  @media screen and(max-width: 400px) {
    width: 100%;

    #signupBtn {
      margin-left: 0;
    }
  }
}