<div class="signup-card">
    <form name="signupForm" novalidate>
        <div class="form-inline">
            <label for="email"><i class="fa fa-user"></i></label>
            <input type="email" id="email" class="form-control material-input" ng-model="signup.userInfo.email"
                   placeholder="Email"
                   required>
        </div>
        <div class="form-inline">
            <label for="password"><i class="fa fa-unlock-alt"></i></label>
            <input type="password" id="password" class="form-control material-input" ng-model="signup.userInfo.password"
                   placeholder="Password"
                   required>
        </div>
        <div class="form-inline">
            <div id="signupBtn">
                <button class="btn default-btn" ng-click="signup.signup()">SIGN UP</button>
            </div>
        </div>
    </form>
</div>